$radius: 2px;
@include theme {
  .rs-input {
    display: inline-block;
    
    .rs-input-inner {
      outline: none;
      border: none;
      padding: 7px 12px;
      border-radius: $radius;
    }
    .rs-input-clear {
      height: 29.5px;
    }

    @include statusMixin(input) {
      border: solid 1px $value;
      border-radius: $radius;
      
      .rs-input-inner:focus {
        background-color: mix($value, white, 5%);
      }
    }
  }
  
  
}