@include theme {
  .rs-input {
    display: inline-block;
    
    .rs-input-inner {
      outline: none;
      border: none;
      padding: 9px 16px;
      border-radius: 5px;
    }

    @include statusMixin(input) {
      border: solid 1px $value;
      .rs-input-inner {
        background-color: mix($value, white, 5%);
      }
      
      
      .rs-input-inner:focus {
        background-color: mix($value, white, 10%);
      }
    }
  }
  
  
}